{% extends "layout.html" %}

{% block pageTitle %}
  What is your home address? - Pension Credit
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-m">All enquires</span>
    <form action="contact-formats" method="post" class="form">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Select address</h1>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1"><strong>Two</strong> addresses found for <strong> {{data["building-number"]}} </strong> and <strong> {{data["postcode"]}}</strong></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a class="govuk-link" href="address-postcode">Change</a></p>

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "address",
        name: "address",
        fieldset: {
          legend: {
            html: "",

            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
            text: ""
        },

        items: [
        {
            value: "221A Baker Street",
            text: "221A, Baker Street",
            checked: (data["address"] == "221a")
          },
          {
            value: "221B Baker Street",
            text: "221B, Baker Street",
            checked: (data["address"] == "221b")
          },
          {
            value: "Address is not listed",
            text: "Address is not listed",
            checked: (data["address"] == "Address is not listed")
          }
        ]
      }) }}


      <br>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <ul class="govuk-list">
      <li><a class="govuk-link" href="telephone-rre-marital-status">RRE flag</a></li>


    </ul>

  </div>
</div>
{% endblock %}
