{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What’s the postcode? - Pension Credit
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="fpc1-check" method="post" class="form">

      <div class="govuk-panel--agent">


<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Contact format needs to be done manually</h1>


<!------------------------------- STATE PENSION PAID INTO ------------------------------------------------------>

<h1 class="govuk-heading-m govuk-!-margin-bottom-6">Print and download</h1>
<h1 class="govuk-heading-m govuk-!-margin-bottom-6">Then do some stuff</h1>




<h2 class="govuk-heading-m">Before leaving this screen:</h2>

<ul class="govuk-list govuk-list--number govuk-!-margin-bottom-6">
<li>Download FPC1</li>
<li>Upload claim to DRS and tag as the following:</li>

<ul class="govuk-list">
<li>XXX: <strong>XXX</strong></li>
<li>XXX: <strong>XXX</strong></li>
<li>XXX: <strong>XXX</strong></li>
<li>XXX: <strong>XXX</strong></li>
</ul>

<li>Check item 3</li>
</ul>


  {{ govukCheckboxes({
  idPrefix: "download-pdf-checkbox",
  name: "download-pdf-checkbox",
  fieldset: {
  legend: {
  text: "",
  isPageHeading: true,
  classes: "govuk-fieldset__legend--s"
  }
  },
  items: [
  {
  value: "download-pdf",
  text: "Confirm that you have read the forecast and it's correct"
  }
  ]
  }) }}

    {{ govukButton({
      text: "Download"
    }) }}







    </form>

  </div>
</div>
{% endblock %}
