{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="start-work" method="post">

        <div class="govuk-panel--agent govuk-!-margin-bottom-6">
          <h2 class="govuk-body govuk-!-font-size-24"><span class="agent-action"><strong>NI 11 22 33 A</strong> is excluded</h2>
        </div>



        <!--<span class="govuk-caption-m govuk-!-margin-bottom-2">Telephone enquires</span>-->
          <h2 class="govuk-heading-l govuk-!-margin-bottom-4"><span class="agent-action">OK, I can see that you’ve paid National Insurance in The Isle of Man</h2>

          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">We need to take a look at your record, to make sure it’s been updated.</p>
          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">As soon as it’s ready, we’ll send a forecast out to you.</p>
          <!-- <li><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state">Find out about call charges (Opens in new window)</a></li> -->

      <p class="govuk-panel--agent govuk-heading-m govuk-!-padding-top-0 govuk-!-margin-bottom-9"><span class="agent-action">Agent action: Compete the FPC1 during call<br> and send it to the specialist team.</p>



<!--------------------------————-------->



{{ govukButton({
  text: "End call"
}) }}



      </form>
    </div>
  </div>
{% endblock %}
