{% extends "layout.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel--agent">
      <form action="outcome-forecast-notify" method="post">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Adviser: You are about to send this forecast to Notify</h1>

<h2 class="govuk-heading-m">Before leaving this screen:</h2>

        {{ govukButton({
          text: "Send to Notify"
        }) }}

      </form>
    </div>
  </div>
</div>
{% endblock %}
