{% extends "layout.html" %}

{% block pageTitle %}
  XXX - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="paper-national-insurance-check-router" method="post">
        <span class="govuk-caption-m">Paper enquiry</span>

<!--<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What is {% if data["who-is-caller"] == "Citizen" %}your{% endif %} {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}their{% endif %} National Insurance number</h1>-->

<!------------HEADLINE------------>
  {% set legend %}
  {% if data["start-work"] == "Paper" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What is {{ data | getPronoun }} National Insurance number?</h1>{% endif %}
  {% endset %}
<!------------HEADLINE------------>

{{ govukInput({
label: {
html: legend
},
      classes: "govuk-input--width-10",
      hint: {
        html: ""
      },
      id: "paper-national-insurance-check",
      name: "paper-national-insurance-check",
      attributes: {
      spellcheck: "false"
      }
      }) }}




        {{ govukButton({
          text: "Search"
        }) }}


<!--

      <details class="govuk-details govuk-!-margin-top-4">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Doesn't know National Insurance number
        </span>
      </summary>

      </details>

-->

      </form>
    </div>
  </div>
{% endblock %}
