{% extends "layout.html" %}

{% block pageTitle %}
  XXX - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="paper-national-insurance-check-router" method="post">
        <span class="govuk-caption-m">Paper enquiry</span>

<!--<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What is {% if data["who-is-caller"] == "Citizen" %}your{% endif %} {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}their{% endif %} National Insurance number</h1>-->

<!------------HEADLINE------------>
  {% set legend %}
  {% if data["start-work"] == "Paper" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What is {{ data | getPronoun }} National Insurance number?</h1>{% endif %}
  {% endset %}
<!------------HEADLINE------------>

{{ govukInput({
label: {
html: legend
},
      classes: "govuk-input--width-10",
      hint: {
        html: ""
      },
      id: "paper-national-insurance-check",
      name: "paper-national-insurance-check",
      attributes: {
      spellcheck: "false"
      }
      }) }}




        {{ govukButton({
          text: "Search"
        }) }}


<!--

      <details class="govuk-details govuk-!-margin-top-4">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Doesn't know National Insurance number
        </span>
      </summary>

      </details>

-->
<div class="govuk-panel--router">
  <p class="govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Service router</p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Exclution list. Put in code box for scenarios/routing
    </span>
  </summary>
  <ul class="govuk-list govuk-!-margin-bottom-2">
      <p class="govuk-body govuk-!-font-size-14"></p>
      <li><a class="govuk-link" href="exclusion-1">E1 (Exclusion = X)</a></li>
      <li><a class="govuk-link" href="exclusion-2">E2 (Exclusion = X)</a></li>
      <li><a class="govuk-link" href="exclusion-3">E3 (Exclusion = X)</a></li>
      <li><a class="govuk-link" href="exclusion-4">E4 (Exclusion = X)</a></li>
      <li><a class="govuk-link" href="exclusion-5">E5 (Exclusion = X)</a></li>
      <li><a class="govuk-link" href="exclusion-6">E6 (Exclusion = X)</a></li>
      <li><a class="govuk-link" href="exclusion-7">E7 (Exclusion = X)</a></li>
      <li><a class="govuk-link" href="exclusion-8">E8 (Exclusion = X)</a></li>
      <li><a class="govuk-link" href="exclusion-9">E9 (Exclusion = X)</a></li>
      <li><a class="govuk-link" href="exclusion-10">10 (Exclusion = X)</a></li>
      <li><a class="govuk-link" href="exclusion-paper-MCI">MCI</a></li>
      <li><a class="govuk-link" href="exclusion-paper-isle-of-man">MAN (Exclusion = Isle of Man exclustion)</a></li>
      <li><a class="govuk-link" href="telephone-enquiry-type">RRE (RRE on record)</a></li>
      <li><a class="govuk-link" href="telephone-cope-check">NOCOPE (No COPE shown on record)</a></li>
      <li><a class="govuk-link" href="telephone-enquiry-type">YESCOPE (COPE is shown on record)</a></li>
      <li><a class="govuk-link" href="exclustion-missing-ni">MISSINGNI (No NI found)</a></li>
      <li><a class="govuk-link" href="paper-enquiry-type">NI00112233A (Test NI)</a></li>
      <li><a class="govuk-link" href="exclusion-validation">VAL (Validation error)</a></li>

  </ul>
</details>
</div>
      </form>
    </div>
  </div>
{% endblock %}
