{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What is your home address? - Pension Credit
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="outcome-forecast-check-local" method="post">

      {% set legend %}

      {% if data["who-is-caller"] == "Citizen" %}
      {% if data['start-work'] == "Paper" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What is the address?</h1>{% endif %}
      {% if data['start-work'] == "Telephone" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Can I confirm your property number and your postcode?</h1>{% endif %}
      {% endif %}

      {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}
      {% if data['start-work'] == "Paper" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What is the address?</h1>{% endif %}
      {% if data['start-work'] == "Telephone" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Can I confirm your property number and your postcode?</h1>{% endif %}
      {% endif %}

      {% endset %}


  {% call govukFieldset({
    legend: {
      html: legend,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
      label: {
        html: '<span class="govuk-visually-hidden">line 1 of 2</span>'
      },
      id: "address-line-1",
      name: "address-line-1"
    }) }}

    {{ govukInput({
      label: {
        html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
      },
      id: "address-line-2",
      name: "address-line-2"
    }) }}

    {{ govukInput({
      label: {
        text: "Town or city"
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-town",
      name: "address-town"
    }) }}

    {{ govukInput({
      label: {
        text: "County"
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-country",
      name: "address-country"
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode"
      },
      classes: "govuk-input--width-10",
      id: "address-postcode",
      name: "address-postcode"
    }) }}

  {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}

      <p class="govuk-body"><a href="yourself-address-postcode"></a></p>

    </form><p class="SFC-enquiry">All enquires</p>


  </div>
</div>
{% endblock %}
