{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What’s the postcode? - Pension Credit
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!------------CONDITIONAL ROUTING------------>
    {% if data['start-work'] == "Telephone" %}<form action="telephone-address-choice" method="post" class="form">{% endif %}
    {% if data['start-work'] == "Paper" %}<form action="paper-address-choice" method="post" class="form">{% endif %}

    <!--------------------------————------------->


<!------------ HEADLINE ------------>
    {% if data["who-is-caller"] == "Citizen" %}
    {% if data['start-work'] == "Paper" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What is the address?</h1>{% endif %}
    {% if data['start-work'] == "Telephone" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Can I confirm your property number and your postcode?</h1>{% endif %}
    {% endif %}

    {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}
    {% if data['start-work'] == "Paper" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What is the address?</h1>{% endif %}
    {% if data['start-work'] == "Telephone" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Can I confirm your property number and your postcode?</h1>{% endif %}
    {% endif %}
<!------------ HEADLINE ------------>




      {{ govukInput({
        id: "building-number",
        name: "building-number",
        value: data["building-number"],
        classes: "govuk-input--width-10",
        label: {
          text: "Property number or name"
        }
      }) }}

      {{ govukInput({
        id: "postcode",
        name: "postcode",
        value: data["postcode"],
        classes: "govuk-input--width-10",
        label: {
          text: "Postcode"
        }
      }) }}

      <input type="hidden" name="address-complete" value="in-progress"/>

      {{ govukButton({
        text: "Find address"
      }) }}
    </form><p class="SFC-enquiry">All enquires (NE1 6BJ & G42 9BT or NE16 6QG)</p>

    <br>

    <!-- <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="paper-address-manual">Enter address manually</a>
      </li>
    </ul> -->

  </div>
</div>
{% endblock %}
