{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What is your home address? - Pension Credit
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="contact-formats" method="post">

      <!------------HEADLINE------------>
        {% set legend %}

        {% if data["who-is-caller"] == "Citizen" %}
        {% if data['start-work'] == "Paper" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What is the address?</h1>{% endif %}
        {% if data['start-work'] == "Telephone" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Can I confirm your address?</h1>{% endif %}
        {% endif %}

        {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}
        {% if data['start-work'] == "Paper" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What is the address?</h1>{% endif %}
        {% if data['start-work'] == "Telephone" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Can I confirm your address?</h1>{% endif %}
        {% endif %}

        {% endset %}
      <!------------HEADLINE------------>

  {% call govukFieldset({
    legend: {
      html: legend,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
      label: {
        html: '<span class="govuk-visually-hidden">line 1 of 2</span>'
      },
      id: "address-line-1",
      name: "address-line-1"
    }) }}

    {{ govukInput({
      label: {
        html: '<span class="govuk-visually-hidden">Building and street line 2 of 4</span>'
      },
      id: "address-line-2",
      name: "address-line-2"
    }) }}

    {{ govukInput({
      label: {
        html: '<span class="govuk-visually-hidden">Building and street line 3 of 4</span>'
      },
      id: "address-line-2",
      name: "address-line-2"
    }) }}

    {{ govukInput({
      label: {
        html: '<span class="govuk-visually-hidden">Building and street line 4 of 4</span>'
      },
      id: "address-line-2",
      name: "address-line-2"
    }) }}



    {{ govukInput({
      label: {
        text: "Country"
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-country",
      name: "address-country"
    }) }}


  {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}

      <p class="govuk-body"><a href="yourself-address-postcode"></a></p>

    </form><p class="SFC-enquiry">All enquires</p>

  </div>
</div>
{% endblock %}
