{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What’s the postcode? - Pension Credit
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!------------TELEPHONE HEADLINE------------>
      {% if data["start-work"] == "Telephone" %}
        {% if data["who-is-caller"] == "Citizen" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Telehphone PAB, both: UK: Can I confirm your property number and your postcode?</h1>{% endif %}
        {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Telehphone PAB, both: UK: Can I confirm the property number and the postcode?</h1>{% endif %}
      {% endif %}
    <!------------PAPER HEADLINE------------>
    {% if data["start-work"] == "Paper" %}
        {% if data["paper-address-for-letters"] == "Citizen" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">What is the address?</h1>{% endif %}
        {% if data["paper-address-for-letters"] == "Corporate or Personal Acting Body" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">What is the address?</h1>{% endif %}
        {% if data["paper-address-for-letters"] == "Third party" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">What is the address?</h1>{% endif %}
      {% endif %}
    <!--------------------------————-------->



    <form action="address-choice-router" method="post" class="form">

      {{ govukInput({
        id: "building-number",
        name: "building-number",
        value: data["building-number"],
        classes: "govuk-input--width-10",
        label: {
          text: "Property number or name"
        }
      }) }}

      {{ govukInput({
        id: "postcode",
        name: "postcode",
        value: data["postcode"],
        classes: "govuk-input--width-10",
        label: {
          text: "Postcode"
        }
      }) }}

      <input type="hidden" name="address-complete" value="in-progress"/>

      {{ govukButton({
        text: "Find address"
      }) }}
    </form><p class="SFC-enquiry">All enquires (NE1 6BJ & G42 9BT or NE16 6QG)</p>

    <br>

    <!-- <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="paper-address-manual">Enter address manually</a>
      </li>
    </ul> -->

  </div>
</div>
{% endblock %}
