{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Who are calling for? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="address-check-router" method="post">

  <!--------------------------------------------------------------------------------------------------->

  <!------------HEADLINE------------>
    {% set legend %}
    {% if data["paper-address-for-letters"] == "Citizen" or data['who-is-caller'] == "Citizen" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Where is the address?</h1>{% endif %}
    {% if data["paper-address-for-letters"] == "Corporate or Personal Acting Body" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Is data["full-name"]'s address in the UK or overseas?'</h1>{% endif %}
    {% if data["paper-address-for-letters"] == "Third party" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Is data["full-name"]'s address in the UK or overseas?'</h1>{% endif %}

    {% endset %}
  <!------------HEADLINE------------>

  {% if data["paper-address-for-letters"] == "Citizen" or data['who-is-caller'] == "Citizen" %}

        {{ govukRadios({
          idPrefix: "address-check",
          name: "address-check",
          fieldset: {
            legend: {
              html: legend,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "United Kingdom",
              text: "UK",
              checked: data['address-check'] == "United Kingdom"
            },
          {
            value: "Overseas",
            text: "Overseas",
            checked: data['address-check'] == "Overseas"
          }
          ]
        }) }}

        {% endif %}

<!--------------------------------------------------------------------------------------------------->
  {% if data["paper-address-for-letters"] == "Corporate or Personal Acting Body" or data['who-is-caller'] == "Corporate or Personal Acting Body" %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Personal Acting Body (PAB) or Corporate Acting Body (CAB)</h1>

 Telephone: Can I take your full name?


        {{ govukInput({
          label: {
            html: "Contact name"
            },
            classes: "govuk-input--width-30",
            hint: {
              text: ""
            },
          id: "comtact-name",
          name: "comtact-name",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        Telephone: conditional Can I check if you are representing a company?
        Yes: And can I take the name of the company? (Box)
        No:


        {{ govukInput({
          label: {
            html: "Company or organisation name"
            },
            classes: "govuk-input--width-30",
            hint: {
              text: ""
            },
          id: "comtact-company-name",
          name: "comtact-company-name",
          attributes: {
            spellcheck: "false"
          }
        }) }}

<br>

Telephone: Is your address in the UK?

        {{ govukRadios({
          idPrefix: "address-check",
          name: "address-check",
          fieldset: {
            legend: {
              text: "Where is the address?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "United Kingdom",
              text: "UK",
              checked: data['address-check'] == "United Kingdom"
            },
          {
            value: "Overseas",
            text: "Overseas",
            checked: data['address-check'] == "Overseas"
          }
          ]
        }) }}

        {% endif %}

        {% if data["paper-address-for-letters"] == "Third party" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Third party details</h1>


              {{ govukInput({
                label: {
                  html: "Contact name"
                  },
                  classes: "govuk-input--width-30",
                  hint: {
                    text: ""
                  },
                id: "third-party-name",
                name: "third-party-name",
                attributes: {
                  spellcheck: "false"
                }
              }) }}

              {{ govukInput({
                label: {
                  html: "Company or organisation name"
                  },
                  classes: "govuk-input--width-30",
                  hint: {
                    text: ""
                  },
                id: "third-party-company-name",
                name: "third-party-company-name",
                attributes: {
                  spellcheck: "false"
                }
              }) }}



              {{ govukRadios({
                idPrefix: "address-check",
                name: "address-check",
                fieldset: {
                  legend: {
                    text: "Where is the address?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "United Kingdom",
                    text: "UK",
                    checked: data['address-check'] == "United Kingdom"
                  },
                {
                  value: "Overseas",
                  text: "Overseas",
                  checked: data['address-check'] == "Overseas"
                }
                ]
              }) }}

              {% endif %}

<br>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form><p class="SFC-enquiry">All enquires</p>
    </div>
{% endblock %}
