{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What’s the postcode? - Pension Credit
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <!------------ROUTER------------>
    {% if data["address-check"] == "United Kingdom" %}<form action="contact-formats-router" method="post" class="form">{% endif %}
    {% if data["address-check"] == "Overseas" %}<form action="outcome-forecast-check-local" method="post" class="form">{% endif %}

      <!------------ROUTER------------>


      <!------------HEADLINE------------>
        {% if data["who-is-caller"] == "Citizen" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Do you need us to contact you in any of the following formats?</h1>{% endif %}
        {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Does {{data["full-name"]}}'s have any contact formats?</h1>{% endif %}
      <!------------HEADLINE------------>

      <p class="govuk-heading-m govuk-!-margin-bottom-3"></p>

      {{ govukInput({
        label: {
          html: "Contact telephone number"
        },
        id: "telephone-number",
        name: "telephone-number",
        classes: "govuk-input--width-20",
        value: data["telephone-number"]
      }) }}


      {% set AudioFormYesHint %}
      <p class=govuk-hint></p>
      <ul class="govuk-hint govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>???</li>
        <li>???</li>
      </ul>
      {% endset %}

              {% set AudioFormYes %}

                {{ govukTextarea({
                  label: {
                    classes: "govuk-label--s",
                    html: "Include any of the following details"
                  },
                  hint: {
                    html: AudioFormYesHint},
                  id: "audio-form-yes",
                  name: "audio-form-yes",
                  classes: "govuk-input--width-100",
                  attributes: {
                    maxlength: 200
                  }
                }) }}
              {% endset %}

      <!-------------------------------------------------------------------------->

      {% set AudioYesHint %}
      <p class=govuk-hint></p>
      <ul class="govuk-hint govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>???</li>
        <li>???</li>
      </ul>
      {% endset %}

              {% set AudioYes %}

                {{ govukTextarea({
                  label: {
                    classes: "govuk-label--s",
                    html: "Include any of the following details"
                  },
                  hint: {
                    html: AudioYesHint},
                  id: "audio-yes",
                  name: "audio-yes",
                  classes: "govuk-input--width-100",
                  attributes: {
                    maxlength: 200
                  }
                }) }}
              {% endset %}

      <!-------------------------------------------------------------------------->

      {% set BrailleYesHint %}
      <p class=govuk-hint></p>
      <ul class="govuk-hint govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>???</li>
        <li>???</li>
      </ul>
      {% endset %}

              {% set BrailleYes %}

                {{ govukTextarea({
                  label: {
                    classes: "govuk-label--s",
                    html: "Include any of the following details"
                  },
                  hint: {
                    html: BrailleYesHint},
                  id: "braille-yes",
                  name: "braille-form-yes",
                  classes: "govuk-input--width-100",
                  attributes: {
                    maxlength: 200
                  }
                }) }}
              {% endset %}

      <!-------------------------------------------------------------------------->

      {% set LargePrintYesHint %}
      <p class=govuk-hint></p>
      <ul class="govuk-hint govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>???</li>
        <li>???</li>
      </ul>
      {% endset %}

              {% set LargePrintYes %}

                {{ govukTextarea({
                  label: {
                    classes: "govuk-label--s",
                    html: "Include any of the following details"
                  },
                  hint: {
                    html: LargePrintYesHint},
                  id: "large-print-yes",
                  name: "large-print-yes",
                  classes: "govuk-input--width-100",
                  attributes: {
                    maxlength: 200
                  }
                }) }}
              {% endset %}

      <!-------------------------------------------------------------------------->

      {% set TexBoxYesHint %}
      <p class=govuk-hint></p>
      <ul class="govuk-hint govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>???</li>
        <li>???</li>
      </ul>
      {% endset %}

              {% set TexBoxYes %}

                {{ govukTextarea({
                  label: {
                    classes: "govuk-label--s",
                    html: "Include any of the following details"
                  },
                  hint: {
                    html: TexBoxYesHint},
                  id: "TexBox-yes",
                  name: "TexBox-yes",
                  classes: "govuk-input--width-100",
                  attributes: {
                    maxlength: 200
                  }
                }) }}
              {% endset %}

      <!-------------------------------------------------------------------------->

      {% set TypeTalkYesHint %}
      <p class=govuk-hint></p>
      <ul class="govuk-hint govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>???</li>
        <li>???</li>
      </ul>
      {% endset %}

              {% set TypeTalkYes %}

                {{ govukTextarea({
                  label: {
                    classes: "govuk-label--s",
                    html: "Include any of the following details"
                  },
                  hint: {
                    html: TypeTalkYesHint},
                  id: "TypeTalk-yes",
                  name: "TypeTalk-yes",
                  classes: "govuk-input--width-100",
                  attributes: {
                    maxlength: 200
                  }
                }) }}
              {% endset %}

      <!-------------------------------------------------------------------------->


      {% set disabilities = data["disabilities"] or [] %}
      {% set accessability = data["accessibility"] or [] %}



      {{ govukCheckboxes({
        classes: "govuk-!-margin-bottom-4",
        idPrefix: "contact-formats",
        name: "contact-formats",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
          }
        },
        hint: {
          text: "Select all that apply:"
        },
        items: [
{
          value: "Audio form",
          text: "Audio form",
          checked: (data["contact-formats"] == "Audio form"),
          conditional: {
            html: AudioFormYes
          }
        },
        {

          value: "Audio CD, cassette or MP3",
          text: "Audio CD, cassette or MP3",
          checked: (data["contact-formats"] == "Audio CD, cassette or MP3"),
          conditional: {
            html: AudioYes
          }
        },

          {
            value: "Braille",
            text: "Braille",
            checked: (data["contact-formats"] == "Braille"),
            conditional: {
              html: BrailleYes
            }
          },

          {
            value: "Large print",
            text: "Large print",
            checked: (data["contact-formats"] == "Large print"),
            conditional: {
              html: LargePrintYes
            }
          },

          {
            value: "TexBox",
            text: "TexBox",
            checked: (data["contact-formats"] == "TexBox"),
            conditional: {
              html: TexBoxYes
            }
          },

          {
            value: "TypeTalk",
            text: "TypeTalk",
            checked: (data["contact-formats"] == "TypeTalk"),
            conditional: {
              html: TypeTalkYes
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}


<!--
    <div class="govuk-panel--router">
      <p class="govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-0">Service router (conditional call to action based on choice)</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4"></p>
        <ul class="govuk-list">

        {% if data["address-check"] == "Overseas" %}<li><a href="outcome-forecast-check-local">Print local</a></li>{% endif %}
        {% if data["address-check"] == "United Kingdom" %}<li><a href="outcome-forecast-check-notify">Choice can be done using Notifiy</a></li>{% endif %}
        <li><a href="contact-formats-fallout">Manual intervention needed by an agent to fulfill a contract choice</a></li>

      </ul>
    </div>
-->




</form><p class="SFC-enquiry">All enquires</p>

  </div>
</div>
{% endblock %}
