{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What is your home address? - Pension Credit
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="contact-accessible-check-router" method="post" class="form">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0"></h1>

    <!-------------TELEPHONE HEADLINE------------>
    {% if data["start-work"] == "Telephone" %}
    <h2 class="govuk-heading-l govuk-!-margin-bottom-4">It is a printed forecast we send to you.</h2>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Can we adjust something to make it accessible for you?</h1>
    {% endif %}
    <!-----------------PAPER HEADLINE------------>
    {% if data["start-work"] == "Paper" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Has an alternative format been requested?</h1>
    {% endif %}
    <!--------------------------————------------->


      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "contact-accessible-check",
        name: "contact-accessible-check",
        fieldset: {
          legend: {
            html: "",

            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
            text: "For example, larger print"
        },

        items: [
        {
            value: "Yes",
            text: "Yes",
            checked: (data["contact-accessible-check"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["contact-accessible-check"] == "No")
          }
        ]
      }) }}

      <br>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form><p class="SFC-enquiry">All enquires</p>


    <!--

    <div class="govuk-panel--router">
      <p class="govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-0">Service router</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Continue will follow route without RRE flag</p>

        <ul class="govuk-list">
        <li><a class="govuk-link" href="telephone-rre-scenarios">RRE FLAG scenarios</a></li>
        <li><a class="govuk-link" href="address-missing">No address found</a></li>
      </ul>
    </div>

-->

  </div>
</div>
{% endblock %}
