{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="start-work" method="post">

      <!-- <div class="govuk-!-margin-bottom-6">
        <h2 class="govuk-body govuk-!-font-size-24"><span class="agent-action"><strong>NI 11 22 33 A</strong> is excluded</h2>
      </div> -->

      {{ govukTag({
        text: "Excluded",
        classes:"govuk-!-margin-bottom-4"
      }) }}

<!--
      {{ govukTag({
        text: "Dead",
        classes:"govuk-!-margin-bottom-4 tag-colour--red"
      }) }} -->



<!--<span class="govuk-caption-m govuk-!-margin-bottom-2">Paper enquires</span>-->
<h2 class="govuk-heading-xl govuk-!-margin-bottom-4">OK, HMRC have stopped us from seeing your National Insurance record</h2>

<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">I’m not able to deal with your enquiry, but if you call HMRC they’ll be able to help.</p>
<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">I’ve got the telephone number here for you.</p>

<h2 class="govuk-heading-m govuk-!-padding-top-0"></h2>
<ul class="govuk-list govuk-list">
<li>UK: 0300 200 3500</li>
<li>Overseas: +44 191 218 7777</li>
<li>Textphone: 18001 0300 200 3500 (UK only)</li>
<li><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state">Call charges (Opens in new window)</a></li>
</ul>

<br>

  <!--------------------------————-------->

{{ govukButton({
  text: "End call"
}) }}



      </form><p class="SFC-enquiry">Telephone enquiry</p>
    </div>
  </div>
{% endblock %}
