{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Forecast sent? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">


        {% if data["paper-cope-check"] == "Yes" %}<form action="download-fpc1" method="post" class="form">{% endif %}
        {% if data["paper-cope-check"] == "No" %}<form action="outcome-done" method="post" class="form">{% endif %}

          {% if data["telephone-cope-check"] == "Yes" %}<form action="download-fpc1" method="post" class="form">{% endif %}
          {% if data["telephone-cope-check"] == "No" %}<form action="outcome-done" method="post" class="form">{% endif %}


      <!-------------TELEPHONE ------------>
      {% if data["start-work"] == "Telephone" %}

      <div class="govuk-!-margin-bottom-6">

    {{ govukPanel({
      titleText: "So thats' all done and i've issued your forecast.",
      html: "You should have it within the week. Thanks for your call today. Just to let you know you can get your forecast online, just visit GOV.uk"
    }) }}
    </div>
    
    {{ govukButton({
      text: "End call and continue"
    }) }}



      {% endif %}
      <!-----------------PAPER ------------>
      {% if data["start-work"] == "Paper" %}
      <div class="govuk-!-margin-bottom-6">
        {{ govukPanel({
          titleText: "Forecast was prined locally",
          html: ""
        }) }}
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      {% endif %}
      <!--------------------------————------------->



      </form><p class="SFC-enquiry">All enquires</p>



            </div>
    </div>
  </div>
{% endblock %}
