{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="telephone-enquiry-type-router" method="post">


        <!----------------------------------------------- improveSP ----------------------------------------------->

        {% set seenAForecast %}

        <div class='govuk-!-font-size-19 govuk-!-padding-top-2'>


          {{ govukRadios({
            idPrefix: "seenAForecast-YN",
            name: "seenAForecast-YN",
            fieldset: {
              legend: {
                text: "Have you seen a State Pension forecast?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: data['seenAForecast-YN'] == "Yes"
              },
            {
              value: "No",
              text: "No",
              checked: data['seenAForecast-YN'] == "No"
            }
            ]
          }) }}

          </div>

        {% endset -%}

        <!----------------------------------------------- forecastHelp ----------------------------------------------->
        <!----------------------------------------------- RequestForecast ----------------------------------------------->
        {% set seenAForecast2 %}

        <div class='govuk-!-font-size-19 govuk-!-padding-top-2'>


          {{ govukRadios({
            idPrefix: "seenAForecast-YN2",
            name: "seenAForecast-YN2",
            fieldset: {
              legend: {
                text: "Have you seen a State Pension forecast?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: data['seenAForecast-YN2'] == "Yes"
              },
            {
              value: "No",
              text: "No",
              checked: data['seenAForecast-YN2'] == "No"
            }
            ]
          }) }}

          </div>

        {% endset -%}

        <!----------------------------------------------- Radios ----------------------------------------------->


              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "telephone-enquiry-type",
                name: "telephone-enquiry-type",
                fieldset: {
                  legend: {
                    html: "How can I help you today?",

                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
                hint: {
                    text: ""
                },

                items: [
                {
                  value: "I want to improve my State Pension",
                  text: "Information about their State Pension",
                  checked: (data["telephone-enquiry-type"] == "I want to improve my State Pension"),
                  hint: {
                    text: ""
                  },
                  conditional: {
                    html: seenAForecast
                  }
                },
                  {
                    value: "Help with a forecast I have seen",
                      text: "Understanding their State Pension forecast",
                      checked: (data["telephone-enquiry-type"] == "Help with a forecast I have seen"),
                      hint: {
                        text: ""
                      }
                    },
                    {
                    value: "Request a forecast",
                    text: "Improve their State Pension",
                    checked: (data["telephone-enquiry-type"] == "Request a forecast"),
                    hint: {
                      text: ""
                    },
                    conditional: {
                      html: seenAForecast2
                    }
                  }
                ]
              }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <!-- <p class="govuk-body"><a href="online-prompt">End call</a></p> -->



      </form><p class="SFC-enquiry">Telephone enquires</p>
    </div>
  </div>
{% endblock %}
