{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Citizen details - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!------------CONDITIONAL ROUTING------------>
        {% if data["who-is-caller"] == "Citizen" %}<form action="address-check" method="post" class="form">{% endif %}
        {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}<form action="address-check" method="post">{% endif %}
    <!--------------------------————------------->

        <!------------HEADLINE------------>

        {% if data["who-is-caller"] == "Citizen" %}
          {% if data["telephone-cope-check"] == "No" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="agent-action">@jane Can I confirm your full name please?</h1>{% endif %}
          {% if data["telephone-cope-check"] == "Yes" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="agent-action">Citizen details</h1>{% endif %}
        {% endif %}

          {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}
            {% if data["telephone-cope-check"] == "No" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="agent-action">Can I confirm the full name of the person you represent please?</h1>{% endif %}
            {% if data["telephone-cope-check"] == "Yes" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="agent-action">Person you represents details</h1>{% endif %}
          {% endif %}
        <!------------HEADLINE------------>


        <!----------------------------------------------- FPC1 data COPE CHECK = NO ----------------------------------------------->


        {% if data["telephone-cope-check"] == "No" %}


        {{ govukInput({
          label: {
            html: ""
          },
          hint: {
            text: ""
          },
          id: "full-name",
          name: "full-name",
          classes: "govuk-input--width-20",
          value: data["full-name"]
        }) }}

        {% endif %}

        <!----------------------------------------------- FPC1 data COPE CHECK = YES ----------------------------------------------->


        {% if data["telephone-cope-check"] == "Yes" %}

        {{ govukInput({
          label: {
            html: "<Strong>Full name</Strong>"
          },
          hint: {
            text: ""
          },
          id: "full-name",
          name: "full-name",
          classes: "govuk-input--width-20",
          value: data["full-name"]
        }) }}

        {{ govukDateInput({
          id: "date-of-birth",
          name: "date-of-birth",
          fieldset: {
            legend: {
              html: "<Strong>Date of birth</Strong>"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data["date-of-birth-day"]
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data["date-of-birth-month"]
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data["date-of-birth-year"]
            }
          ]
        }) }}

        {% endif %}

        {% if data["paper-address-for-letters"] == "Citizen" or data['who-is-caller'] == "Citizen" %}

        <h1 class="govuk-heading-m govuk-!-margin-bottom-4">Is your address in the UK?</h1>

              {{ govukRadios({
                idPrefix: "address-check",
                name: "address-check",
                fieldset: {
                  legend: {
                    html: "",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
                items: [
                  {
                    value: "United Kingdom",
                    text: "Yes",
                    checked: data['address-check'] == "United Kingdom"
                  },
                {
                  value: "Overseas",
                  text: "No",
                  checked: data['address-check'] == "Overseas"
                }
                ]
              }) }}

              {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form><p class="SFC-enquiry">Telephone enquires</p>
    </div>
{% endblock %}
