{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Who are calling for? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="address-check-router" method="post">

  <!--------------------------------------------------------------------------------------------------->


  <!-------------TELEPHONE HEADLINE------------>
  {% if data["start-work"] == "Telephone" %}
  {% if data["paper-address-for-letters"] == "Corporate or Personal Acting Body" or data['who-is-caller'] == "Corporate or Personal Acting Body" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">And can I take your full name?</h1>{% endif %}
  {% endif %}
  <!-----------------PAPER HEADLINE------------>
  {% if data["start-work"] == "Paper" %}
    {% if data["paper-address-for-letters"] == "Citizen" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Where is the address?</h1>{% endif %}
    {% if data["paper-address-for-letters"] == "Corporate or Personal Acting Body" or data['who-is-caller'] == "Corporate or Personal Acting Body" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Personal Acting Body (PAB) or Corporate Acting Body (CAB) details</h1>{% endif %}
    {% if data["paper-address-for-letters"] == "Third party" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Third party details</h1>{% endif %}

  {% endif %}
  <!--------------------------————------------->

  <!--------------------------------------------------------------------------------------------------->
    {% if data["paper-address-for-letters"] == "Citizen" %}

  {{ govukRadios({
    idPrefix: "address-check",
    name: "address-check",
    fieldset: {
      legend: {
        text: "",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "United Kingdom",
        text: "UK",
        checked: data['address-check'] == "United Kingdom"
      },
    {
      value: "Overseas",
      text: "Overseas",
      checked: data['address-check'] == "Overseas"
    }
    ]
  }) }}

  {% endif %}


<!--------------------------------------------------------------------------------------------------->
  {% if data["paper-address-for-letters"] == "Corporate or Personal Acting Body" or data['who-is-caller'] == "Corporate or Personal Acting Body" %}

 Telephone: Can I take your full name? (Just box for telephone)




        {{ govukInput({
          label: {
            html: "Contact name"
            },
            classes: "govuk-input--width-30",
            hint: {
              text: ""
            },
          id: "comtact-name",
          name: "comtact-name",
          attributes: {
            spellcheck: "false"
          }
        }) }}



<!--------------------------------- representingCompany ------------------------------------->
{% set representingCompany %}

<div class='govuk-!-font-size-19 govuk-!-padding-top-2'>

Telephone only: And can I take the name of the companny or organisation?

  {{ govukInput({
    label: {
      html: "Company or organisation name"
      },
      classes: "govuk-input--width-30",
      hint: {
        text: ""
      },
    id: "comtact-company-name",
    name: "comtact-company-name",
    attributes: {
      spellcheck: "false"
    }
  }) }}

  </div>

{% endset -%}
<!--------------------------------------------------------------------------------------------->


        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "Representing-Company-yn",
          name: "Representing-Company-yn",
          fieldset: {
            legend: {
              html: "Can I check if you are representing a company or organisation?",

              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
              text: ""
          },

          items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["Representing-Company-yn"] == "Yes"),
            hint: {
              text: ""
            },
            conditional: {
              html: representingCompany
            }
          },
            {
              value: "No",
                text: "No",
                checked: (data["Representing-Company-yn"] == "No"),
                hint: {
                  text: ""
                }
              }
          ]
        }) }}

        {{ govukInput({
          label: {
            html: "Paper only / Company or organisation name"
            },
            classes: "govuk-input--width-30",
            hint: {
              text: ""
            },
          id: "comtact-company-name",
          name: "comtact-company-name",
          attributes: {
            spellcheck: "false"
          }
        }) }}

Telephone Citizen: Is your address in the UK?
Telephone PAB: Is the address in the UK


        {{ govukRadios({
          idPrefix: "address-check",
          name: "address-check",
          fieldset: {
            legend: {
              text: "Where is the address?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "United Kingdom",
              text: "Yes",
              checked: data['address-check'] == "United Kingdom"
            },
          {
            value: "Overseas",
            text: "No",
            checked: data['address-check'] == "Overseas"
          }
          ]
        }) }}

        {% endif %}

        {% if data["paper-address-for-letters"] == "Third party" %}



              {{ govukInput({
                label: {
                  html: "Contact name"
                  },
                  classes: "govuk-input--width-30",
                  hint: {
                    text: ""
                  },
                id: "third-party-name",
                name: "third-party-name",
                attributes: {
                  spellcheck: "false"
                }
              }) }}

              {{ govukInput({
                label: {
                  html: "Company or organisation name"
                  },
                  classes: "govuk-input--width-30",
                  hint: {
                    text: ""
                  },
                id: "third-party-company-name",
                name: "third-party-company-name",
                attributes: {
                  spellcheck: "false"
                }
              }) }}



              {{ govukRadios({
                idPrefix: "address-check",
                name: "address-check",
                fieldset: {
                  legend: {
                    text: "Where is the address?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "United Kingdom",
                    text: "UK",
                    checked: data['address-check'] == "United Kingdom"
                  },
                {
                  value: "Overseas",
                  text: "Overseas",
                  checked: data['address-check'] == "Overseas"
                }
                ]
              }) }}

              {% endif %}

<br>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form><p class="SFC-enquiry">All enquires</p>
    </div>
{% endblock %}
