{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  COPE check - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="telephone-cope-check-router" method="post">

          <h2 class="govuk-heading-xl"><span class="agent-action">Bare with me I'm just getting into our systems now</h2>

              <!------------HEADLINE------------>
                {% set legend %}
                <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Are there any contracted out schemes listed in OLE?</h1>
                {% endset %}
              <!------------HEADLINE------------>

              <div class="govuk-panel--agent-alert govuk-!-margin-bottom-6">
                {% set agentAction %}

              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "telephone-cope-check",
                name: "telephone-cope-check",
                fieldset: {
                  legend: {
                    html: "Are there any contracted out schemes listed on OLE?",

                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                    text: "Contracted out schemes: COD, GMP, CR, PP, ASS, RPA, INW."
                },

                items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: (data["telephone-cope-check"] == "Yes"),
                    label: {
                      classes: ""
                    },
                    hint: {
                      text: ""
                    }
                  },
                  {
                  value: "No",
                  html: "No",
                  checked: (data["telephone-cope-check"] == "No")
                }
              ]
            }) }}
          </div>

          {% endset %}

            {{ govukWarningText({
              html: agentAction,
              iconFallbackText: "Warning"
            }) }}

              {{ govukButton({
                classes: "govuk-!-margin-bottom-0",
                text: "Continue"
              }) }}

              <!-- text: "Contracted out schemes: COD, GMP, CR, PP, ASS, RPA, INW." -->




      </form><p class="SFC-enquiry">Telephone enquires</p>
    </div>
  </div>
{% endblock %}
