{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Who are calling for? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="address-check-router" method="post">

  <!--------------------------------------------------------------------------------------------------->


  <!-------------------------------------------------- Citizen ------------------------------------------------------------------------------------>

    <!------------------ HEADLINE---------------->
    {% if data['who-is-caller'] == "Corporate or Personal Acting Body" %}

    <h1 class="govuk-heading-xl">Personal Acting Body (PAB) or Corporate Acting Body (CAB) details</h1>
    <h1 class="govuk-heading-m govuk-!-margin-bottom-3">And can I take your full name?</h1>
    <!------------------------------------------->

       {{ govukInput({
         label: {
           html: ""
           },
           classes: "govuk-input--width-30",
           hint: {
             text: ""
           },
         id: "comtact-name",
         name: "comtact-name",
         attributes: {
           spellcheck: "false"
         }
       }) }}

       <!--------------------------------- representingCompany ------------------------------------->
       {% set representingCompany %}

       <div class='govuk-!-font-size-19 govuk-!-padding-top-2'>

         {{ govukInput({
           label: {
             html: "And can I take the name of the companny or organisation?"
             },
             classes: "govuk-input--width-30",
             hint: {
               text: ""
             },
           id: "comtact-company-name",
           name: "comtact-company-name",
           attributes: {
             spellcheck: "false"
           }
         }) }}

         </div>

       {% endset -%}

       <!------------------------------------------- Company or organisation -------------------------------------------------->


        {{ govukRadios({
         classes: "govuk-radios",
         idPrefix: "Representing-Company-yn",
         name: "Representing-Company-yn",
         fieldset: {
           legend: {
             html: "Can I check if you are representing a company or organisation?",

             isPageHeading: true,
             classes: "govuk-fieldset__legend--m"
           }
         },
         hint: {
             text: ""
         },

         items: [
         {
           value: "Yes",
           text: "Yes",
           checked: (data["Representing-Company-yn"] == "Yes"),
           hint: {
             text: ""
           },
           conditional: {
             html: representingCompany
           }
         },
           {
             value: "No",
               text: "No",
               checked: (data["Representing-Company-yn"] == "No"),
               hint: {
                 text: ""
               }
             }
         ]
        }) }}



     {% endif %}

     <!------------------------------------------- Third party -------------------------------------------------->

     {% if data["telephone-address-for-letters"] == "Third party" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Third party details</h1>


       {{ govukInput({
         label: {
           html: "Contact name"
           },
           classes: "govuk-input--width-30",
           hint: {
             text: ""
           },
         id: "third-party-name",
         name: "third-party-name",
         attributes: {
           spellcheck: "false"
         }
       }) }}

       {{ govukInput({
         label: {
           html: "Company or organisation name"
           },
           classes: "govuk-input--width-30",
           hint: {
             text: ""
           },
         id: "third-party-company-name",
         name: "third-party-company-name",
         attributes: {
           spellcheck: "false"
         }
       }) }}

       {% endif %}


     <!------------------------------------------- Address -------------------------------------------------->

     {{ govukRadios({
       idPrefix: "address-check",
       name: "address-check",
       fieldset: {
         legend: {
           text: "Is the address in the UK?",
           isPageHeading: true,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "United Kingdom",
           text: "Yes",
           checked: data['address-check'] == "United Kingdom"
         },
       {
         value: "Overseas",
         text: "No",
         checked: data['address-check'] == "Overseas"
       }
       ]
     }) }}

     <!------------------------------------------- END -------------------------------------------------->



<br>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form><p class="SFC-enquiry">All enquires</p>
    </div>
{% endblock %}
