{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Citizen details - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!------------CONDITIONAL ROUTING------------>
        {% if data["who-is-caller"] == "Citizen" %}<form action="telephone-address-check" method="post" class="form">{% endif %}
        {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}<form action="telephone-address-check" method="post">{% endif %}
    <!--------------------------————------------->


      <!----------------------------------------------- Citizen and Corporate or Personal Acting Body ----------------------------------------------->

      {% if data["who-is-caller"] == "Citizen" and data["telephone-national-insurance-check"] !== "NI 00 11 22 D"
      or
      data["who-is-caller"] == "Citizen" and data["telephone-national-insurance-check"] == "NI 00 11 22 D" and data["telephone-cope-check"] == "No"
      or
      data["who-is-caller"] == "Corporate or Personal Acting Body" and data["telephone-national-insurance-check"] !== "NI 00 11 22 D"
      or
      data["who-is-caller"] == "Corporate or Personal Acting Body" and data["telephone-national-insurance-check"] == "NI 00 11 22 D" and data["telephone-cope-check"] == "No" %}

      <!------------ H1 ------------>
      {% if data["who-is-caller"] == "Citizen" %}
        {% if data["telephone-cope-check"] == "No" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">@jane Can I confirm your full name please?</h1>{% endif %}
      {% endif %}

      {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}
        {% if data["telephone-cope-check"] == "No" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Can I confirm the full name of the person you represent please?</h1>{% endif %}
      {% endif %}
      <!------------ H1 ------------>

        {% set conditionalLabel %}
        {% endset %}

      {{ govukInput({
        label: {
          html: conditionalLabel
        },
        hint: {
            html: ""
        },
        id: "full-name",
        name: "full-name",
        classes: "govuk-input--width-20",
        value: data["full-name"]
      }) }}

      {% endif %}




        <!----------------------------------------------- FPC1 data COPE CHECK = YES ----------------------------------------------->


        {% if data["who-is-caller"] == "Citizen" and data["telephone-national-insurance-check"] == "NI 00 11 22 D" and data["telephone-cope-check"] == "Yes"
        or
        data["who-is-caller"] == "Corporate or Personal Acting Body" and data["telephone-cope-check"] == "Yes" %}

        <!------------ H1 ------------>
        {% if data["who-is-caller"] == "Citizen" %}
          {% if data["telephone-cope-check"] == "Yes" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Citizen details</h1>{% endif %}
        {% endif %}

        {% if data["who-is-caller"] == "Corporate or Personal Acting Body" %}
          {% if data["telephone-cope-check"] == "Yes" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Person you represents details</h1>{% endif %}
        {% endif %}
        <!------------ H1 ------------>

        {{ govukInput({
          label: {
            html: "<Strong>Full name</Strong>"
          },
          hint: {
            text: ""
          },
          id: "full-name",
          name: "full-name",
          classes: "govuk-input--width-20",
          value: data["full-name"]
        }) }}

        {{ govukDateInput({
          id: "date-of-birth",
          name: "date-of-birth",
          fieldset: {
            legend: {
              html: "<Strong>Date of birth</Strong>"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data["date-of-birth-day"]
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data["date-of-birth-month"]
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data["date-of-birth-year"]
            }
          ]
        }) }}

        {% endif %}

        <!----------------------------------------------- ADDRESS ----------------------------------------------->


        {% if data["paper-address-for-letters"] == "Citizen" or data['who-is-caller'] == "Citizen" %}

        <h1 class="govuk-heading-s govuk-!-padding-top-2 govuk-!-margin-bottom-4">Is your address in the UK?</h1>

              {{ govukRadios({
                idPrefix: "address-check",
                name: "address-check",
                fieldset: {
                  legend: {
                    html: "",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
                items: [
                  {
                    value: "United Kingdom",
                    text: "Yes",
                    checked: data['address-check'] == "United Kingdom"
                  },
                {
                  value: "Overseas",
                  text: "No",
                  checked: data['address-check'] == "Overseas"
                }
                ]
              }) }}

              {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form><p class="SFC-enquiry">Telephone enquires</p>
    </div>
{% endblock %}
