{% extends "layout.html" %}

{% block pageTitle %}
  What is your home address? - Pension Credit
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-m">All enquires</span>
    <form action="outcome-forecast-check-notify" method="post" class="form">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Select your address</h1>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1">Postcode:<strong> {{data["postcode"]}}</strong></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="govuk-link" href="address-postcode">Change</a></p>

      {{ govukSelect({
        id: "address",
        name: "address",
        label: {
          text: "Select an address"
        },
        items: [
          {
            value: "address-count",
            text: "3 addresses found",
            selected: (data["address"] == "address-count")
          },
          {
            value: "221a",
            text: "221A Baker Street",
            selected: (data["address"] == "221a")
          },
          {
            value: "221b",
            text: "221B Baker Street",
            selected: (data["address"] == "221b")
          },
          {
            value: "222",
            text: "222 Baker Street",
            selected: (data["address"] == "222")
          }
        ]
      }) }}


      <br>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="address-manual-uk">Not found in list</a>
      </li>
    </ul>

  </div>
</div>
{% endblock %}
