{% extends "layout.html" %}

{% block pageTitle %}
  benefit-overview - Pension Credit
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="yourself-national-insurance" method="post" class="form">

      <input type="hidden" name="benefits-complete" value="in-progress"/>

      <div class="govuk-panel--agent">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Adviser: You are about to leave the service, are you sure?</h1>

      </div>

<br>

{{ govukButton({
  text: "Exit and close",
  classes: "govuk-button--warning"
}) }}

    </form>


  </div>
</div>
{% endblock %}
