{% extends "layout.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="start-work" method="post">

      <div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    {{ govukPanel({
      titleText: "You have done a thing",
      html: ""
    }) }}

  </div>
</div>




      {{ govukButton({
        text: "Exit and close",
        classes: "govuk-button--warning"
      }) }}



      </form>
            </div>
    </div>
  </div>
{% endblock %}
