{% extends "layout.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="telephone-forecast-enquiry-router" method="post">

<!--
          <div class="govuk-panel--agent govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m"><span class="agent-action">Adviser: X</h2>
          </div>

        -->

          <span class="govuk-caption-m">Telephone enquiry</span>

              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "telephone-forecast-enquiry",
                name: "telephone-forecast-enquiry",
                fieldset: {
                  legend: {
                    html: "What is the the enquiry about?",

                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
                hint: {
                    text: ""
                },

                items: [
                {
                  value: "Enquiry",
                  text: "Enquiry",
                  checked: (data["telephone-forecast-enquiry"] == "Enquiry")
                  },
                  {
                    value: "Forecast",
                      text: "Forecast",
                      checked: (data["telephone-forecast-enquiry"] == "Forecast")
                    },
                    {
                      divider: "—"
                    },
                    {
                    value: "Forecast + RRE",
                    text: "Forecast + RRE",
                    checked: (data["telephone-forecast-enquiry"] == "(Internal) Forecast + RRE")
                  }
                ]
              }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>
{% endblock %}
