{% extends "layout.html" %}

{% block pageTitle %}
  XXX - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="xxx" method="post">

        <div class="govuk-panel--agent govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m"><span class="agent-action">Adviser: XXX</h2>
        </div>

            <h2 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="agent-action">This is a the general enquiry (General @jane)</h2>

              <p class="govuk-body govuk-!-font-size-24">XXXX</p>

              <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXX</h2>
              <p class="govuk-heading-l govuk-!-margin-bottom-6">XXXXx</p>

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

              <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXX</h2>
              <p class="govuk-heading-l govuk-!-margin-bottom-6">XXXXx</p>

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

              <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXX</h2>
              <p class="govuk-heading-l govuk-!-margin-bottom-6">XXXXx</p>

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


              <h2 class="govuk-heading-s govuk-!-margin-bottom-2">XXX</h2>
              <p class="govuk-heading-l govuk-!-margin-bottom-6">XXXXx</p>







        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>
{% endblock %}
