{% extends "layout.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="outcome-gaps" method="post">

                <div class="govuk-panel--agent govuk-!-margin-bottom-6">
                  <h2 class="govuk-heading-m"><span class="agent-action">Adviser: </span>Based on gaining until 4 May 2032</h2>
                </div>

            <h2 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="agent-action">Overview</h2>

  <!--            <p class="govuk-body govuk-!-font-size-24">GOV have a bunch of cool data we can share with you so that you can make the best choies:</p> -->

                <h2 class="govuk-heading-s govuk-!-margin-bottom-2">State Pension date:</h2>
                <p class="govuk-heading-l govuk-!-margin-bottom-6">4 May 2035 (68 years old)</p>

                <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Years to reach State pension age</h2>
                <p class="govuk-heading-l govuk-!-margin-bottom-6">10 years</p>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <h2 class="govuk-heading-xm govuk-!-padding-top-0 govuk-!-margin-bottom-0">Amounts</h2>


                {{ govukTable({
                  caption: "",
                  firstCellIsHeader: false,
                  head: [
                    {
                      text: "",
                      classes: 'govuk-table-item-name'
                    },
                    {
                      text: "Per week",
                      classes: 'govuk-table-item-1'
                    },
                    {
                      html: "Annually",
                      classes: 'govuk-table-item-2'
                    }
                  ],
                  rows: [
                    [
                      {
                        html: "Current estimate"
                      },
                      {
                        html: "<strong>£144.50</strong>"
                      },
                      {
                        html: "<strong>£7,514.00</strong>"
                      }
                    ],
                    [
                      {
                        text: "Forecast to State Pension age"
                      },
                      {
                        html: "<strong>£154.14</strong> "
                      },
                      {
                        html: "<strong>£8,015.28</strong>"
                      }
                      ],
                      [
                      {
                        text: "Most you can get"
                      },
                      {
                        html: "<strong>£168.60</strong> "
                      },
                      {
                        html: "<strong>£8,767.20</strong>"
                      }
                    ]
                  ]
                }) }}


                <h2 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-0">Qualifing years</h2>

                {{ govukTable({
                  caption: "",
                  firstCellIsHeader: false,
                  head: [
                    {
                      text: "",
                      classes: 'govuk-table-item-name'
                    },
                    {
                      text: "Years",
                      classes: 'govuk-table-item-1'
                    },
                    {
                      text: "",
                      classes: 'govuk-table-item-2'
                    }
                  ],
                  rows: [
                    [
                      {
                        html: "Qualifing years to date"
                      },
                      {
                        html: "<strong>30</strong>"
                      },
                      {
                        html: ""
                      }
                    ],
                    [
                      {
                        text: "Forcast qualifing years to date"
                      },
                      {
                        html: "<strong>32</strong> "
                      },
                      {
                        html: ""
                      }
                      ],
                      [
                      {
                        text: "Most qualifing years"
                      },
                      {
                        html: "<strong>35</strong> "
                      },
                      {
                        html: ""
                      }
                    ]
                  ]
                }) }}

                <h2 class="govuk-heading-xm govuk-!-padding-top-6 govuk-!-margin-bottom-2">Contracted Out (COPE)</h2>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-9">There is COPE amount.</p>






        {{ govukButton({
          text: "Fill in Gaps"
        }) }}


      </form>
    </div>
  </div>
{% endblock %}
