{% extends "layout.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="outcome-forecast-created" method="post">

          <div class="govuk-panel--agent govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m"><span class="agent-action">Adviser: No COPE on record</h2>
          </div>


              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "yourself-no-cope-yn",
                name: "yourself-no-cope-yn",
                fieldset: {
                  legend: {
                    html: "Check schemes in OLE",

                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
                hint: {
                    text: ""
                },

                items: [
                {
                    value: "Yes",
                    text: "Yes",
                    checked: (data["yourself-no-cope-yn"] == "Mobile")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: (data["yourself-no-cope-yn"] == "I don't have a mobile")
                  }
                ]
              }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>
{% endblock %}
