{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Forecast sent? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}
<form action="fpc1-check" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {{ govukPanel({
        titleText: "Forecast was sent using Notifiy",
        html: ""
      }) }}

          <h2 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6"><span class="agent-action">You might be able to do some of this online, we have the following options that may help</h2>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Option A</h2>
            <p class="govuk-body govuk-!-margin-bottom-6">This is appropriate dummy text that is being employed in order to ascertain an approximate length </p>


{{ govukButton({
  text: "End call and continue"
}) }}

      </form>



            </div>
    </div>
  </div>
{% endblock %}
