{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="start" method="post">

              <h2 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="agent-action">You have done a bunch of things, you are all done, finish and close</h2>

              <h2 class="govuk-body govuk-!-font-size-24">XXX</h2>




{{ govukButton({
  text: "Exit and close"
}) }}


      </form><p class="SFC-enquiry">All enquires</p>
    </div>
  </div>
{% endblock %}
