{% extends "layout.html" %}

{% block pageTitle %}
Private Beta index / Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-l">Alpha, testing<br>& development</span>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">Design development.<br>Support for Check your State Pension: Forecast</h1>
          <p class="govuk-body-l"><strong>Current status: XXX</strong><br><br>Index's show prototype and design index, iteration notes and module shortcuts within each version.
        </div>
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.5</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/sprint-5/start.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--current app-task-list__task-completed" id="company-information-completed">XX.XX.2019</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>Day one. Anna to provide more insight
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5/XXX" aria-describedby="contact-details-completed">XXXX</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5/outcome-forecast-local" aria-describedby="contact-details-completed">outcome-forecast-local</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5/outcome-forecast-notify" aria-describedby="contact-details-completed">outcome-forecast-notify</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5outcome-forecast-a" aria-describedby="contact-details-completed">outcome-forecast-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                <p class="govuk-body govuk-!-font-weight-bold ">Exclusion:</p>
                    <ul class="govuk-list govuk-!-margin-bottom-6">
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-1" aria-describedby="contact-details-completed">exclusion-1</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-2" aria-describedby="contact-details-completed">exclusion-2</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-3" aria-describedby="contact-details-completed">exclusion-3</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-4" aria-describedby="contact-details-completed">exclusion-4</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-5" aria-describedby="contact-details-completed">exclusion-5</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-6" aria-describedby="contact-details-completed">exclusion-6</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-7" aria-describedby="contact-details-completed">exclusion-7</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-8" aria-describedby="contact-details-completed">exclusion-8</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-9" aria-describedby="contact-details-completed">exclusion-9</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-10" aria-describedby="contact-details-completed">exclusion-10</a></li>
                      <!------------ ---- ------------>

                      <!------------ ---- ------------>
                    </ul>

                <p class="govuk-body govuk-!-font-weight-bold ">Overview: (A) (B):</p>
                    <ul class="govuk-list govuk-!-margin-bottom-6">
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/telephone-overview-ab" aria-describedby="contact-details-completed">telephone-overview-ab</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/telephone-overview-a" aria-describedby="contact-details-completed">telephone-overview-a</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/telephone-overview-b" aria-describedby="contact-details-completed">telephone-overview-b</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/telephone-overview-c" aria-describedby="contact-details-completed">telephone-overview-c</a></li>
                      <!------------ ---- ------------>
c
                      <!------------ ---- ------------>
                    </ul>



                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.4</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/sprint-4/start.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--current app-task-list__task-completed" id="company-information-completed">HOLD</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>On hold, none day one.
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/start-work.html" aria-describedby="contact-details-completed">Start: Type</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/yourself-overview-options" aria-describedby="contact-details-completed">yourself-overview-options</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/outcome-bespoke" aria-describedby="contact-details-completed">outcome-bespoke</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-34/outcome-estimate" aria-describedby="contact-details-completed">outcome-estimate</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/outcome-forecast-a" aria-describedby="contact-details-completed">outcome-forecast-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.3</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/sprint-3/start.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--current app-task-list__task-completed" id="company-information-completed">30.11.2019</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/start-work.html" aria-describedby="contact-details-completed">Start: Type</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/yourself-overview-options" aria-describedby="contact-details-completed">yourself-overview-options</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/outcome-bespoke" aria-describedby="contact-details-completed">outcome-bespoke</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/outcome-estimate" aria-describedby="contact-details-completed">outcome-estimate</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/outcome-forecast-a" aria-describedby="contact-details-completed">outcome-forecast-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.2</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/sprint-2/start.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">13.11.2019</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/yourself-overview-options" aria-describedby="contact-details-completed">yourself-overview-options</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/outcome-bespoke" aria-describedby="contact-details-completed">outcome-bespoke</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/outcome-estimate" aria-describedby="contact-details-completed">outcome-estimate</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/outcome-forecast-a" aria-describedby="contact-details-completed">outcome-forecast-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.1</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/sprint-1/start.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">7.11.2019</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-1/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-1/outcome-bespoke" aria-describedby="contact-details-completed">outcome-bespoke</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-1/outcome-estimate" aria-describedby="contact-details-completed">outcome-estimate</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-1/outcome-forecast-a" aria-describedby="contact-details-completed">outcome-forecast-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-1/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


{% endblock %}
