{% extends "layout.html" %}

{% block pageTitle %}
Private Beta index / Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-l">Alpha, testing<br>& development</span>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">Design development.<br>Support for Check your State Pension: Forecast</h1>
          <p class="govuk-body-l"><strong>Current status: XXX</strong><br><br>Prototype design index, iteration notes and module shortcuts within each version.
        </div>
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.8</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/version-8/start-work.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--current app-task-list__task-completed" id="company-information-completed">XX.XX.2020</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: (3 March 2020) Content for later half of jounrey</li>
                    <li>Added: Bereavement agent actions. The use of Bereavement grey box is against my recommendation.
                        <br>No clear call to action indication visually or written. In this context what does the (!) mean, what alternative behaviour for the agents are we trying to encourages?
                        <br>(!) is a warning that should be immediately followed by an action, warning is not a driver for behaviour.
                        <br>The use of this is visually jarring when it comes to iterations, e.g. radio sets and especially vast address radio sets.
                        <br>Reduction in contrast ratio of radios and hint text. Not sure if it’s appropriate to be adding a background colour to radio sets.
                        <br>Light-grey used isn’t always visible on DOI machines in TyneView Park.
                    </li>
                    <li>Added: Fixed journeys for paper and telephone (Dymanic text)</li>
                    <li>Jounrey: Welsh now comes after address</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Removal:XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/version-8/start-work" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                  </ul>

                <p class="govuk-body govuk-!-font-weight-bold ">Exclusion:</p>
                    <ul class="govuk-list govuk-!-margin-bottom-6">
                      <!------------ ---- ------------>
                      <li><a class="govuk-link" href="/version-8/exclusion-paper-MCI">Exclusion paper: MCI</a></li>
                      <li><a class="govuk-link" href="/version-8/exclusion-telephone-MCI">Exclusion telephone: MCI</a></li>
                      <br>
                      <li><a class="govuk-link" href="/version-8/exclusion-paper-isle-of-man">Exclusion paper: IOM</a></li>
                      <li><a class="govuk-link" href="/version-8/exclusion-telephone-isle-of-man">Exclusion telephone: IOM</a></li>
                      <br>
                      <li><a class="govuk-link" href="/version-8/exclusion-paper-DEAD">Exclusion paper: DEAD</a></li>
                      <li><a class="govuk-link" href="/version-8/exclusion-telephone-DEAD">Exclusion telephone: DEAD</a></li>
                      <!------------ ---- ------------>
                    </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->
      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.7</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/version-7/start-work.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">Exclustions tested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> Updates to V7, removal of the agent actions pattern. Prossible that it will be replaced with Grey box.
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: TAGs for NI type</li>
                    <li>Added: Updated exclustion pages for IOM, MCI and Dead (02 March 2020)</li>
                    <li>Address: x2 normal, x1 hard</li>
                    <li>Routing: Based on NI numbers, RRE and COPE</li>
                    <li>Removal: Enquiry type</li>
                    <li>Removal: X</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/version-7/start-work" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/version-7/telephone-overview-ab" aria-describedby="contact-details-completed">AB test</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/version-7/outcome-forecast-local" aria-describedby="contact-details-completed">outcome-forecast-local</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/version-7/outcome-forecast-notify" aria-describedby="contact-details-completed">outcome-forecast-notify</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/version-7/telephone-overview-a" aria-describedby="contact-details-completed">telephone-overview-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/version-7/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                <p class="govuk-body govuk-!-font-weight-bold ">Exclusion:</p>
                    <ul class="govuk-list govuk-!-margin-bottom-6">
                      <!------------ ---- ------------>
                      <li><a class="govuk-link" href="/version-7/telephone-enquiry-type">Telephone / RRE (RRE on record)</a></li>
                      <li><a class="govuk-link" href="/version-7/telephone-cope-check">Telephone / NOCOPE (No COPE shown on record)</a></li>
                      <li><a class="govuk-link" href="/version-7/telephone-enquiry-type">Telephone / YESCOPE (COPE is shown on record)</a></li>
                      <li><a class="govuk-link" href="/version-7/exclustion-missing-ni">MISSINGNI (No NI found)</a></li>
                      <li><a class="govuk-link" href="/version-7/telephone-enquiry-type">Telephone / NI 00 11 22 A (Test NI)</a></li>
                      <li><a class="govuk-link" href="/version-7/exclusion-validation">VAL (Validation error)</a></li>
                      <br>
                      <li><a class="govuk-link" href="/version-7/exclusion-paper-MCI">Exclusion paper: MCI</a></li>
                      <li><a class="govuk-link" href="/version-7/exclusion-telephone-MCI">Exclusion telephone: MCI</a></li>
                      <br>
                      <li><a class="govuk-link" href="/version-7/exclusion-paper-isle-of-man">Exclusion paper: IOM</a></li>
                      <li><a class="govuk-link" href="/version-7/exclusion-telephone-isle-of-man">Exclusion telephone: IOM</a></li>
                      <br>
                      <li><a class="govuk-link" href="/version-7/exclusion-paper-DEAD">Exclusion paper: DEAD</a></li>
                      <li><a class="govuk-link" href="/version-7/exclusion-telephone-DEAD">Exclusion telephone: DEAD</a></li>




                      <!------------ ---- ------------>
                    </ul>

                <p class="govuk-body govuk-!-font-weight-bold ">Overview: (A) (B):</p>
                    <ul class="govuk-list govuk-!-margin-bottom-6">
                      <!------------ ---- ------------>
                      <li><a href="/version-7/telephone-overview-ab" aria-describedby="contact-details-completed">telephone-overview-ab</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/version-7/telephone-overview-a" aria-describedby="contact-details-completed">telephone-overview-a</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/version-7/telephone-overview-b" aria-describedby="contact-details-completed">telephone-overview-b</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/version-7/telephone-overview-c" aria-describedby="contact-details-completed">telephone-overview-c</a></li>
                      <!------------ ---- ------------>
c
                      <!------------ ---- ------------>
                    </ul>



                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->
      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.6</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/version-6/start.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">Not tested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>Day one. Anna to provide more insight
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/version-6/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/version-6/telephone-overview-ab" aria-describedby="contact-details-completed">AB test</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/version-6/outcome-forecast-local" aria-describedby="contact-details-completed">outcome-forecast-local</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/version-6/outcome-forecast-notify" aria-describedby="contact-details-completed">outcome-forecast-notify</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/version-6/telephone-overview-a" aria-describedby="contact-details-completed">telephone-overview-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/version-6/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                <p class="govuk-body govuk-!-font-weight-bold ">Exclusion:</p>
                    <ul class="govuk-list govuk-!-margin-bottom-6">
                      <!------------ ---- ------------>
                      <li><a class="govuk-link" href="/version-6/exclusion-1">E1 (Exclusion = X)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclusion-2">E2 (Exclusion = X)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclusion-3">E3 (Exclusion = X)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclusion-4">E4 (Exclusion = X)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclusion-5">E5 (Exclusion = X)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclusion-6">E6 (Exclusion = X)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclusion-7">E7 (Exclusion = X)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclusion-8">E8 (Exclusion = X)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclusion-9">E9 (Exclusion = X)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclusion-10">10 (Exclusion = X)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclustion-isle-of-man">MAN (Exclusion = Isle of Man exclustion)</a></li>
                      <li><a class="govuk-link" href="/version-6/telephone-enquiry-type">Telephone / RRE (RRE on record)</a></li>
                      <li><a class="govuk-link" href="/version-6/telephone-cope-check">Telephone / NOCOPE (No COPE shown on record)</a></li>
                      <li><a class="govuk-link" href="/version-6/telephone-enquiry-type">Telephone / YESCOPE (COPE is shown on record)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclustion-missing-ni">MISSINGNI (No NI found)</a></li>
                      <li><a class="govuk-link" href="/version-6/telephone-enquiry-type">Telephone / NI00112233A (Test NI)</a></li>
                      <li><a class="govuk-link" href="/version-6/exclusion-validation">VAL (Validation error)</a></li>
                      <!------------ ---- ------------>
                    </ul>

                <p class="govuk-body govuk-!-font-weight-bold ">Overview: (A) (B):</p>
                    <ul class="govuk-list govuk-!-margin-bottom-6">
                      <!------------ ---- ------------>
                      <li><a href="/version-6/telephone-overview-ab" aria-describedby="contact-details-completed">telephone-overview-ab</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/version-6/telephone-overview-a" aria-describedby="contact-details-completed">telephone-overview-a</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/version-6/telephone-overview-b" aria-describedby="contact-details-completed">telephone-overview-b</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/version-6/telephone-overview-c" aria-describedby="contact-details-completed">telephone-overview-c</a></li>
                      <!------------ ---- ------------>
c
                      <!------------ ---- ------------>
                    </ul>



                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.5</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/sprint-5/start.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">superseded</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>Day one. Anna to provide more insight
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5/telephone-overview-ab" aria-describedby="contact-details-completed">AB test</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5/outcome-forecast-local" aria-describedby="contact-details-completed">outcome-forecast-local</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5/outcome-forecast-notify" aria-describedby="contact-details-completed">outcome-forecast-notify</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5/telephone-overview-a" aria-describedby="contact-details-completed">telephone-overview-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-5/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                <p class="govuk-body govuk-!-font-weight-bold ">Exclusion:</p>
                    <ul class="govuk-list govuk-!-margin-bottom-6">
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-1" aria-describedby="contact-details-completed">exclusion-1</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-2" aria-describedby="contact-details-completed">exclusion-2</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-3" aria-describedby="contact-details-completed">exclusion-3</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-4" aria-describedby="contact-details-completed">exclusion-4</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-5" aria-describedby="contact-details-completed">exclusion-5</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-6" aria-describedby="contact-details-completed">exclusion-6</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-7" aria-describedby="contact-details-completed">exclusion-7</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-8" aria-describedby="contact-details-completed">exclusion-8</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-9" aria-describedby="contact-details-completed">exclusion-9</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/exclusion-10" aria-describedby="contact-details-completed">exclusion-10</a></li>
                      <!------------ ---- ------------>

                      <!------------ ---- ------------>
                    </ul>

                <p class="govuk-body govuk-!-font-weight-bold ">Overview: (A) (B):</p>
                    <ul class="govuk-list govuk-!-margin-bottom-6">
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/telephone-overview-ab" aria-describedby="contact-details-completed">telephone-overview-ab</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/telephone-overview-a" aria-describedby="contact-details-completed">telephone-overview-a</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/telephone-overview-b" aria-describedby="contact-details-completed">telephone-overview-b</a></li>
                      <!------------ ---- ------------>
                      <li><a href="/sprint-5/telephone-overview-c" aria-describedby="contact-details-completed">telephone-overview-c</a></li>
                      <!------------ ---- ------------>
c
                      <!------------ ---- ------------>
                    </ul>



                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.4</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/sprint-4/start.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">superseded</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>On hold, none day one.
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/start-work.html" aria-describedby="contact-details-completed">Start: Type</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/yourself-overview-options" aria-describedby="contact-details-completed">yourself-overview-options</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/outcome-bespoke" aria-describedby="contact-details-completed">outcome-bespoke</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-34/outcome-estimate" aria-describedby="contact-details-completed">outcome-estimate</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/outcome-forecast-a" aria-describedby="contact-details-completed">outcome-forecast-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-4/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.3</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/sprint-3/start.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">30.11.2019</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/start-work.html" aria-describedby="contact-details-completed">Start: Type</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/yourself-overview-options" aria-describedby="contact-details-completed">yourself-overview-options</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/outcome-bespoke" aria-describedby="contact-details-completed">outcome-bespoke</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/outcome-estimate" aria-describedby="contact-details-completed">outcome-estimate</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/outcome-forecast-a" aria-describedby="contact-details-completed">outcome-forecast-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-3/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.2</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/sprint-2/start.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">13.11.2019</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/yourself-overview-options" aria-describedby="contact-details-completed">yourself-overview-options</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/outcome-bespoke" aria-describedby="contact-details-completed">outcome-bespoke</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/outcome-estimate" aria-describedby="contact-details-completed">outcome-estimate</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/outcome-forecast-a" aria-describedby="contact-details-completed">outcome-forecast-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-2/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">A.0.1</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/sprint-1/start.html" aria-describedby="company-information-completed">Start prototype</a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">7.11.2019</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">About the testing / What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-1/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-1/outcome-bespoke" aria-describedby="contact-details-completed">outcome-bespoke</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-1/outcome-estimate" aria-describedby="contact-details-completed">outcome-estimate</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-1/outcome-forecast-a" aria-describedby="contact-details-completed">outcome-forecast-a</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-1/outcome-gaps" aria-describedby="contact-details-completed">outcome-gaps</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


{% endblock %}
