{% extends "layout.html" %}

{% block pageTitle %}
  Who are calling for? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="paper-who-is-caller-router" method="post">
        <span class="govuk-caption-m">Paper enquiry</span>

        {{ govukRadios({
          idPrefix: "paper-who-is-caller",
          name: "paper-who-is-caller",
          fieldset: {
            legend: {
              text: "Who is making this enquiry?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Citizen",
              text: "Citizen",
              checked: data['paper-who-is-caller'] == "Citizen"
            },
          {
            value: "Corporate Acting Body (CAB)",
            text: "Corporate Acting Body (CAB)",
            checked: data['paper-who-is-caller'] == "Corporate Acting Body (CAB)"
          },
        {
          value: "Personal Acting Body (PAB)",
          text: "Personal Acting Body (PAB)",
          checked: data['paper-who-is-caller'] == "Personal Acting Body (PAB)"
        },
      {
        value: "Third party (EG)",
        text: "Third party (EG)",
        checked: data['paper-who-is-caller'] == "Third party (EG)"
      }
          ]
        }) }}

<br>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
{% endblock %}
