{% extends "layout.html" %}

{% block pageTitle %}
  Who are calling for? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">Telephone enquiry</span>

      <form action="who-is-caller-other-router" method="post">

        {{ govukRadios({
          idPrefix: "who-is-caller-other",
          name: "who-is-caller-other",
          fieldset: {
            legend: {
              text: "Are you acting in a personal capacity or on  behalf of an organisation?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Personal capacity",
              text: "Personal capacity",
              checked: data['who-is-caller-other'] == "Personal capacity"
            },
            {
            value: "Organisation",
            text: "Organisation",
            checked: data['who-is-caller-other'] == "Organisation"
          }
          ]
        }) }}


<br>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
{% endblock %}
