{% extends "layout.html" %}

{% block pageTitle %}
  Who are calling for? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="yourself-employment-none-router" method="post">

        {{ govukRadios({
          idPrefix: "yourself-employment-none",
          name: "yourself-employment-none",
          fieldset: {
            legend: {
              html: "Are you on any benefits or receiving credits?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
          {
            value: "Yes - I am receiving credits",
            text: "Yes - I am receiving credits",
            checked: data['yourself-employment-none'] == "Yes - I am receiving credits"
          },
          {
            value: "Yes - I am on benefits",
            text: "Yes - I am on benefits",
            checked: data['yourself-employment-none'] == "Yes - I am on benefits"
          },
          {
            value: "No",
            text: "No",
            checked: (data["yourself-employment-none"] == "No")
          }
        ]
      }) }}

<br>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
{% endblock %}
