{% extends "layout.html" %}

{% block pageTitle %}
  Where do you live?
{% endblock %}

{% block beforeContent %}
  {% include 'includes/js-back-link.html' %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {{ govukRadios({
          idPrefix: "where-do-you-live",
          name: "where-do-you-live",
          fieldset: {
            legend: {
              text: "Where do you live?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "england",
              text: "England"
            },
            {
              value: "scotland",
              text: "Scotland"
            },
            {
              value: "wales",
              text: "Wales"
            },
            {
              value: "northern-ireland",
              text: "Northern Ireland"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
