{% extends "layout.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="start" method="post">

        <div class="govuk-panel--agent govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m"><span class="agent-action">Adviser: XXX</h2>
        </div>

            <h2 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="agent-action">Next steps, help Alex Smith make a payment</h2>

              <p class="govuk-body govuk-!-font-size-24">Send them a copy of what we talked about to Alex Smith?</p>

              <p class="govuk-body govuk-!-font-size-24">Send them a copy of what we talked about to HMRC to help process?</p>

              <br><br>


              {{ govukButton({
                text: "Exit and close",
                classes: "govuk-button--warning"
              }) }}


      </form>
    </div>
  </div>
{% endblock %}
