{% extends "layout.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="outcome-next-steps" method="post">

        <div class="govuk-panel--agent govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m"><span class="agent-action">Adviser: This is only showing best financial options for Alex Smith</h2>
        </div>

            <h2 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="agent-action">Gaps in National Insuruance payments for Alex Smith</h2>

              <p class="govuk-body govuk-!-font-size-24">GOV have a bunch of cool data we can share with you so that you can make the best choies:</p>

              <h2 class="govuk-heading-s govuk-!-margin-bottom-2">State Pension date:</h2>
              <p class="govuk-heading-l govuk-!-margin-bottom-2">25 December 2020 (68 years old)</p>
              <p class="govuk-body govuk-!-font-size-27 govuk-!-margin-bottom-6">1 year and 2 months to state pension age</p>

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

              <div class="govuk-grid-row govuk-!-margin-bottom-2">
                <div class="govuk-grid-column-one-half">
                  <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Number of gabs in National<br>Insurance record</h2>
                  <p class="govuk-heading-l govuk-!-margin-bottom-2">16</p>
                </div>
                <div class="govuk-grid-column-one-half">
                  <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Total cost to fill GAPs?</h2>
                  <p class="govuk-heading-l govuk-!-margin-bottom-2">£2,000.00</p>
                </div>
              </div>

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Viable GAPs) to fill:</h2>

              {{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Number of GAP(S)",
      classes: 'app-custom-class'
    },
    {
      text: "Cost to fill GAP(S)",
      classes: 'app-custom-class'
    },
    {
      html: "Over all increase to<br>State Pension payments <br>",
      classes: 'app-custom-class'
    }
  ],
  rows: [
    [
      {
        text: " "
      },
      {
        text: " "
      },
      {
        text: "Per week / Per year"
      }
    ],
    [
      {
        text: "One"
      },
      {
        text: "£109.80"
      },
      {
        text: "£59.10 / £XX "
      }
    ],
    [
      {
        text: "10+"
      },
      {
        text: "£159.80"
      },
      {
        text: "£89.10 / £XX "
      }
    ],
    [
      {
        text: "20+"
      },
      {
        text: "£4,282.20"
      },
      {
        text: "£2,182.20 / £XX "
      }
    ]
  ]
}) }}

<p class="govuk-body"><a href="">Show all GAP(s)</a></p>


              <br><br>


        {{ govukButton({
          text: "Next Steps"
        }) }}


      </form>
    </div>
  </div>
{% endblock %}
