{% extends "layout.html" %}

{% block pageTitle %}
  What is your National Insurance number? - Support for Check your State Pension: Forecast
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="yourself-employment-yn-router" method="post">

        <div class="govuk-panel--agent govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m"><span class="agent-action">National Insrance number: </span>{{ data["yourself-national-insurance"] }}</h2>
        </div>

            <h2 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="agent-action">Are you currently employed?</h2>

              {{ govukRadios({
                idPrefix: "yourself-employment-yn",
                name: "yourself-employment-yn",
                fieldset: {
                  legend: {
                    html: "",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                    }
                    },
                    items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: (data["yourself-employment-yn"] == "Yes")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: (data["yourself-employment-yn"] == "No")
                  }
                ]
              }) }}


        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>
{% endblock %}
